.index{
    %col6-cell{
        width: span(6);
        text-align: left;
        display: table-cell;
        vertical-align: middle;
    }
    .hero-image{
        @extend %col6-cell;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .introduction{
        @extend %col6-cell;
        padding-left: 20px;
        font-size: 24px;
        line-height: 36px;
        color: #699;
    }
}