.page-header{
    h1{
        color: #808c99;
        font-size: 64px;
        font-weight: 300;
        line-height: 72px;
        letter-spacing: -2px;
        margin: 0;
        @include breakpoint($screen-xs){
            font-size: 32px;
          }
    }
}