.section-bottom{
    .list-tiled{
        padding-left: 0px;
        text-align: left;
        li{
            @include span(3.9);
            list-style: none;
            text-align: left;
            @include breakpoint($screen-xs){
                @include span(12);
              }
        }
        &>li:nth-child(3n+4){
            clear: both;
        }
        h3{
            text-transform: uppercase;
            color: #808c99;
            font-weight: 600;
            display: block;
            letter-spacing: 0.5px;
        }
    }
}